<h1><%= I18n.t('views.messages.destroy_agenda_report') %></h1>

<h4><%= I18n.t('views.common.team') %>：<%= @agenda.team.name %></h4>
<h4><%= I18n.t('views.messages.agenda_name') %>：<%= @agenda.title %></h4>